<nav>
    <div>
        <ul>
            <li class="<%= path === '/home' ? 'active' : ''%>">
            <a href="/home"> Home</a>
            </li>

            <li class="<%= path === '/shop' ? 'active' : ''%>">
                <a href="/shop">Shop</a>
            </li>

            <li class="<%= path === '/admin/add-product' ? 'active' : ''%>">
                <a href="/admin/add-product">Add Product</a>
            </li>
            <li class="<%= path === '/admin/products' ? 'active' : ''%>">
                <a href="/admin/products">Admin Products</a>
            </li>
        </ul>
    </div>
</nav>