<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%pageTitle%></title>
</head>
<body>
    <form action="/add-input" method="POST">
        <label for="books">Book</label>
        <input type="text" name="books" id="books">
        <br>
        <label for="summaries">Summary</label>
        <input type="text" name="summaries" id="summaries">
        <br>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>