<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../includes/prove03header.ejs %>
</head>
<body>
    <% include ../../includes/prove03Nav.ejs %>
    <main>
        <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => {)
                        <li >
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.product.id._id %>" name="productId">
                    <button type="submit">Delete</button>
                    </form>

                <% } %>
            </ul>
            
            <% } else { %>
                <h1>Cart Empty!</h1>
                
        <% } %>
    </main>
    
</body>
</html>