<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../includes/header.ejs %>
</head>
<body>
    <% include ../includes/nav.ejs %>
    <form action="/add-input" method="POST">
        <label for="books">Book</label>
        <input type="text" name="books" id="books">
        <br>
        <label for="summaries">Summary</label>
        <input type="text" name="summaries" id="summaries">
        <br>
        <button type="submit">Submit</button>
    </form> 
       
</body>
</html>