<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <title><%= pageTitle %></title>
<style>
    h1 {
        color: black;
    }
    ul {
        color:black;
    }
</style>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 style="color:black;">Names:</h1>
    <ul id="nameList" class="" style="color:black;">

    </ul>
    <h2>Submit a name</h2>
    <div>
        <input type="text" id="newName" style="color:black;">
        <button id="submitName" onclick="submitName()">Submit</button>
    </div>
  </div>
  
</div>
      <script>
        const socket = io('/getHomepage');
        socket.on('update-list', () => {
          populateList();
        })
        const populateList = () => {
        const nameList = document.getElementById('nameList')

        fetch('/fetchAll')
        .then(res => res.json())
        .then(data => {
        while(nameList.firstChild) nameList.firstChild.remove()

        for (const avenger of data.avengers) {
            const li = document.createElement('li')
            li.appendChild(document.createTextNode(avenger.name))
            nameList.appendChild(li)
        }
      })
        .catch(err => {
        console.error(err)
    })
  }

      const submitName = () => {
      const newName = document.getElementById('newName').value

      fetch('/insertName', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ newName })
    })
        .then(res => {
            document.getElementById('newName').value = ''

            populateList()

            socket.emit('new-name');
        })
        .catch(err => {
            document.getElementById('newName').value = ''
            console.log(err)
        })
    }

      populateList()
      </script>
  
</body>
</html>